<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPreferenceUrl</key>
	<string>http://breezback.com/IKayak/preferences.ashx</string>
	<key>savePreferenceUrl</key>
	<string>http://breezback.com/IKayak/preferences.ashx</string>
	<key>getForecastUrl</key>
	<string>http://breezback.com/IKayak/forecasts.ashx</string>
	<key>getBookingUrl</key>
	<string>http://breezback.com/IKayak/bookings.ashx</string>
</dict>
</plist>
